main {
  background-color: DimGray;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-rows: auto 1fr;
}

.buttons {
  display: grid;
  padding: 1rem;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
}

button.active {
  background-color: Teal;
  color: FloralWhite;
}

.content {
  display: flex;
}

.view {
  flex: 1;
}

.inner-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-content.bg-color-changed.DarkOrange {
  background-color: DarkOrange;
}

.inner-content.bg-color-changed.DarkSlateBlue {
  background-color: DarkSlateBlue;
}

.circle {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: LightSalmon;
  margin: 2rem;
}

.circle:last-of-type {
  background-color: Plum;
}

.basic-tweens {
  flex: 1;
  display: grid;
  grid-template-rows: 1fr auto;
}
